*
  box-sizing: border-box
body
  font-family: Calibri, sans-serif
button
  border: none
  outline: none
  background-color: transparent
  cursor: pointer
ul
  margin: 0
  padding: 0
li
  list-style: none
