@import "settings"
.data-work-container
  display: flex
  flex-wrap: wrap
  column-gap: 20px
  padding: 40px 10px 0px 10px
  max-width: 1400px
  border: 1px solid #BDBDBD
  border-top: 40px solid #455A64
  border-radius: 10px
.block
  position: relative
  padding: 10px 20px
  margin-bottom: 15px
  width: 320px
  height: 195px
  background-color: #bdbdbd1c
  border-radius: 10px
  box-shadow: 3px 2px 11px 2px #C6C6C6
  &__breadcrumbs
    display: block
    font-size: 12px
    margin-bottom: 5px
    color: #757575
  &__title
    margin: 0 0 10px 0
    width: 85%
    font-size: 18px
    color: #212121
    border-bottom: 1px solid #BDBDBD
    height: 45px
    overflow: hidden
    text-overflow: ellipsis
  &__descr
    margin: 0
    margin-bottom: 20px
    width: 85%
    height: 45px
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    font-size: 13px
  &__btn
    display: flex
    align-items: center
    background-color: #FF9800
    color: #FFFFFF
    padding: 4px 12px
    padding-left: 15px
    border-radius: 9999px
    &:hover
      background-color: lighten(#FF9800, 10)
  &__action-list
    position: absolute
    z-index: 10
    bottom: -145px
    background-color: #FFFFFF
    box-shadow: 3px 2px 11px 2px #C6C6C6
    border-radius: 10px
    width: max-content
    &::after
      content: ''
      position: absolute
      left: 20px
      top: -20px
      border: 10px solid transparent
      border-bottom: 10px solid #FFFFFF
  &__action-item
    display: flex
    align-items: center
    padding: 5px 20px
    font-size: 14px
    border-bottom: 1px solid #BDBDBD
    cursor: pointer
    &:hover
      color: #FF9800
    &:last-of-type
      border: none
  &__action-icon
    margin-right: 10px
    font-size: 16px
  &__notice
    position: absolute
    top: 10px
    right: 10px
    display: flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    font-size: 14px
    font-weight: 700
    color: #FF9800
    border-radius: 50%
