@import "settings"
.data-work-container
  max-width: 1400px
  height: 100vh
  border: 1px solid #BDBDBD
  border-radius: 10px
  overflow: hidden
.header
  padding: 10px 20px
  background-color: #455A64
  color: #FFFFFF
  font-weight: 700
  font-size: 16px
.block
  box-shadow: 3px 2px 11px 2px #C6C6C6
.data-work-interface
  display: flex
  justify-content: space-between
  padding: 10px 10px 30px 10px
.form-wrapper, .buttons-wrapper
  display: flex
  align-items: center
.filter
  display: flex
  align-items: center
  color: #FF9800
  cursor: pointer
.search-form
  display: flex
  align-items: center
  min-height: 30px
  padding: 2px 8px
  margin-right: 20px
  border: 1px solid #BDBDBD
  border-radius: 9999px
  overflow: hidden
  &__input
    width: 100%
    height: 100%
    padding-left: 10px
    padding-right: 10px
    border: none
    outline: none
  &__icon
    font-size: 20px
    color: #757575
.btn
  display: flex
  align-items: center
  margin-left: 10px
  min-height: 30px
  padding: 2px 8px
  background-color: #607D8B
  color: #ffffff
  border-radius: 9999px
  &__icon
    font-size: 18px
    margin-right: 5px
  &__text
    margin-right: 5px
  &__num
    display: flex
    align-items: center
    justify-content: center
    padding: 4px
    background-color: lighten(#607D8B, 10)
    font-weight: 700
    border-radius: 9999px
  &:hover
    background-color: lighten(#607D8B, 5)
.data-list
  &-container
    padding: 10px 10px 30px 10px
  &-header
    display: flex
    align-items: center
    width: 100%
    padding: 5px 0
    background-color: #607D8B
    color: #ffffff
    & div:nth-child(n+2):nth-child(-n+4)
      border-right: 1px solid lighten(#607D8B, 5)
      padding-top: 5px
      padding-bottom: 5px
    & div:nth-child(2)
      border-left: 1px solid lighten(#607D8B, 5)
  &__checkbox
    flex-basis: 5%
    text-align: center
    vertical-align: middle
  &__date
    flex-basis: 10%
    text-align: center
    min-width: 138px
  &__name
    flex-basis: 30%
    padding-left: 10px
  &__descr
    flex-basis: 48%
    padding-left: 10px
  &__act
    position: relative
    flex-basis: 7%
    text-align: center
    &-icon
      color: #FF9800
      cursor: pointer
      &:hover
        color: lighten(#FF9800, 15)
  &-item
    display: flex
    padding: 5px 0
    border-bottom: 1px solid #BDBDBD
    border-right: 1px solid #BDBDBD
    border-left: 1px solid #BDBDBD
.action-menu
  position: absolute
  z-index: 10
  top: 35px
  right: 8px
  width: 160px
  background-color: #ffffff
  box-shadow: 3px 2px 11px 2px #C6C6C6
  border-radius: 10px
  &::after
    content: ''
    position: absolute
    right: 30px
    top: -20px
    border: 10px solid transparent
    border-bottom: 10px solid #FFFFFF
  &__icon
    font-size: 16px
    margin-right: 5px
  &__item
    display: flex
    align-items: center
    width: 100%
    padding: 5px 10px
    cursor: pointer
    font-size: 14px
    border-bottom: 1px solid #C6C6C6
    &:hover
      color: #FF9800
    &:last-of-type
      border: none
